# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_ENDPOINT = "https://c6385130-d28b-443d-b537-eea97a53a6cf-us-east-2.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:ZRRELQBqaGUgmCXLKQhcRGSL:6e7ca6962be2398f02902bca09763340d5aa274852523994b0f6233aeb5410a9"

# Optionally: LangSmith secrets for tracing
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"
LANGCHAIN_API_KEY = "ls__92a486cca34e489fb8002a69487a9cf6"
LANGCHAIN_PROJECT = "default"

[passwords]
# Follow the rule: username = "password"
# Where username defines the Astra Vector Table and the rails.csv experience
postnl = "password_xyz"
datastax = "password_abc"

[languages]
# Follow the rule: username = "localization_code"
# Where localization_code defines the language from localization.csv
postnl = "nl_NL"
datastax = "en_US"

[delete_option]
# Follow the rule: username = "delete_option"
# Where delete_option = True allows the 'Delete Context' button to be shown for that username
datastax = "True"
